/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Nasalization';
  src: url("./assets/nasalization-rg.ttf") format('truetype');
}

html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden;
  font-family: Nasalization, sans-serif;
  color:#ffffff;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}